#form-box {
    width: 50%;
    margin-left: 25%;
    right: 25%;
}

#searchQuery {
    width : 100%;
    margin: 2% 0;
    margin-top: 6%;
}


#search-button {
    position: absolute;
    right: 0;
    top: 0%;
    width: 71px;
    height: 38px;
}

form {
    position: relative;
}

.company-title {
    margin-left: 2.2%;
    margin-top: 1%;
}